<div class="about" id="about">
    <!-- Image Content -->
    <div class="image-content">
        <div class="profile-image-container">
            <img [src]="logo" [alt]="name" class="profile-image">
            <div class="glow-ring"></div>
        </div>
    </div>
    <div class="about-text">
        <h2>About<span> Me</span></h2>
        <p>I'm Skilled data analyst and fullstack web developer using ASP.NET Core and Angular.My job is to transforming
            complex
            data into actionable insights with tools like SQL Python and Power BI.Experienced in building dynamic End to
            End web
            applications scalable backend solutions and leveraging AWS services for cloud - based development.I am
            always ready to
            learn grow and build meaningful projects that make a difference.</p>

        <div id="resume" name="resume">
            <!--h2 class="section-title">My Resume</h2-->
            <a href="assets/resume/marwan-cv.pdf" download>
                <button class="btn btn-primary">Download My Resume</button>
            </a>
        </div>
    </div>



</div>