<div class="services" id="services">
    <div class="container">
        <h1 class="sub-title">My<span> Services</span></h1>
        <div class="services-list">
            <div class="service-item">
                <i class='bxr  bx-code-alt' style='color:#0ffff1'></i>

                <h2>Web Development</h2>
                <p>Building responsive and dynamic websites using modern technologies.</p>
                <a href="https://hicronsoftware.com/blog/angular-asp-net-core-web-app-development/" class="read">Learn
                    More</a>
            </div>
            <div class="service-item">
                <i class='bxr  bx-chart-line' style='color:#0ffff1'></i>
                <h2>Data Analysis</h2>
                <p>Analyzing data to extract insights and support decision-making using visulization and analytical
                    tools.</p>
                <a href="https://www.ucd.ie/professionalacademy/resources/what-does-a-data-analyst-do/"
                    class="read">Learn More</a>
            </div>
            <div class="service-item">
                <i class='bxr  bx-bracket-curly' style='color:#0ffff1'></i>
                <h2>Python Development</h2>
                <p>Creating robust applications and scripts using Python.</p>
                <a href="https://brainstation.io/career-guides/what-does-a-python-developer-do" class="read">Learn
                    More</a>
            </div>
        </div>
    </div>

</div>